{{#partial "form-reportes" }}
  <div class="div-form">
    <form method=POST action="/huella_carbono_total_tipo_organizacion">
      <h1>Reporte</h1>
      <fieldset>
        <legend>
          <h3>Huella Carbono Total por Tipo de Organización</h3>
        </legend>
        <div class="personal-details">
          <label>Tipo organización*</label>
          <select name="tipoOrganizacion" required>
            <option value=""></option>
            {{#each tipos}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
          <button type="submit">Generar</button>
        </div>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <legend>
          <h3>Aquí se visualizará la información del reporte</h3>
        </legend>
        <div class="personal-details">
          <div>


              <p>Tipo organización: {{tipoOrg}} | Huella de carbono total: {{huellaTotal}} </p>


          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>

{{/partial}}

{{> form-reportes-layout.html.hbs}}
