<html>

<head>
	<link rel="stylesheet" type="text/css" href="/form-layout.css">
</head>

<body>

	    Huella de Carbono App

	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
      Links utiles
	</footer>
</body>

</html>
