{{#partial "form" }}
  <div class="div-form">
    <form method=POST action="/registra_tramo">
      <h1>Recomendaciones</h1>
      <fieldset>
        <div class="recomendaciones">
          <div>
            <ul>
              <li><p>Instalación de paredes y techos aislantes</p></li>
              <li><p>Ventanas de doble cristal</p></li>
              <a href="https://www.fundacionaquae.org/wiki/contenedores-reciclaje-que-depositar/">
                <li>
                  <p>Reciclaje correcto de todo aquello que se consuma</p>
                </li>
              </a>
              <a href="https://www.fundacionaquae.org/wiki/causas-y-tipos-de-la-contaminacion-del-aire/">
                <li>
                  <p>Utilizar el transporte público en vez del coche privado, para ayudar a reducir la contaminación del aire</p>
                </li>
              </a>
              <li><p>Caminar o usar la bicicleta como formas más sostenibles de moverse por la ciudad</p></li>
              <li><p>Disminuir el uso del aire acondicionado en verano</p></li>
              <li><p>Reducir el consumo de agua en todos sus usos</p></li>
            </ul>
            <h3>Para mas información visite: </h3>
            <ul><a href="https://youth.europa.eu/get-involved/sustainable-development/how-reduce-my-carbon-footprint_es">
              <p>Como reducir mi huella de carbono?</p>
            </a></ul>
            <ul><a href="https://www.fundacionaquae.org/wiki/reducir-huella-ecologica/">
              <p>Funcación Aquae</p>
            </a></ul>
          </div>
        </div>
      </fieldset>
    </form>
  </div>




{{/partial}}
{{> form-layout.html.hbs}}
